
.take_part_container{
    text-align: center;
    margin-bottom: 98px;
}
    .take_part_list{
        counter-reset: takepart;
        margin: 0px -50px 0 -57px;
    }
        .take_part_list_item{
            position: relative;
            width: 212px;
            float: left;
            color: #1c2532;
            padding-top: 95px;
        }
            .take_part_list_item:before{
                content: "";
                display: inline-block;
                width: 140px;
                height: 2px;
                background-color: #00abec;
                position: absolute;
                top: 38px;
                left: 140px;
            }
            .take_part_list_item:last-child:before{
                display: none;
            }
            .counter_circle{
                position: absolute;
                top: 0;
                left: 50%;
                width: 82px;
                height: 82px;
                overflow: hidden;
                -webkit-transform: translateX(-50%);
                   -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                     -o-transform: translateX(-50%);
                        transform: translateX(-50%);
            }
                .counter_circle:before{
                    display: inline-block;
                    content: "";
                    width: 80px;
                    height: 80px;
                    background-color: #00abec;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                }
                .counter_circle:after{
                    content: counter(takepart);
                    counter-increment: takepart;
                    width: 62px;
                    height: 62px;
                    display: block;
                    position: absolute;
                    z-index: 9;
                    top: 45%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -moz-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                    -o-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    color: #FFF;
                    line-height: 60px;
                    text-align: center;
                    font-family: "SegoeUIRegular", sans-serif;
                    font-weight: 700;
                    font-size: 48px;
                }

            .take_title{
                color: #ccc;
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 10px;
            }





.usefull_sources_container{
    width: 958px;
}
.mr22{
    margin-right: 22px;
}
[data-color="blue"]{
    color: #0678d6;
}
.bold{
    font-weight: 700;
}
[data-skin="light_grey"]{
    background-color: #EEE;
}






.source_box{
    text-decoration: none;
    color: #0078d7;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 12px 42px;
    margin-bottom: 24px;
    background-color: #FFF;
    border: 2px solid #0078d7;
    cursor: pointer;
    
    display: inline-block;
}
    .source_box:hover{
        color: #fff;
        background-color: #7bb63c;
        border: 2px solid #7bb63c;
    }

    .s_box1{
        width: 58%;
        padding: 12px 27px;
    }
    .s_box2{
        width: 40%;
    }


    .arcticmodal_container_box p{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 23px;
        font-family: "SegoeUIRegular", sans-serif;
    }

.popup_list dt{
    font-size: 14px;
    font-weight: 700;
}
.popup_list dd{
    font-size: 14px;
    margin-bottom: 25px;
}



.CSPvNext .row-fluid{width:100%;}.CSPvNext .row-fluid.mscom-grid-container,.CSPvNext .mscom-grid-container{width:96%}.CSPvNext .row-fluid:before,.CSPvNext .row-fluid:after{display:table;line-height:0;content:""}.CSPvNext .row-fluid:after{clear:both}.CSPvNext .row-fluid .span{display:block;float:left;width:100%;margin-left:2%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.CSPvNext .row-fluid>.span:first-child{margin-left:0}.CSPvNext .row-fluid>.bp3-clear,.CSPvNext .row-fluid>.bp3-col-1-1{margin-left:0}.CSPvNext .row-fluid .bp3-col-1-0,.CSPvNext .row-fluid .bp3-col-2-0,.CSPvNext .row-fluid .bp3-col-3-0,.CSPvNext .row-fluid .bp3-col-4-0,.CSPvNext .row-fluid .bp3-col-5-0,.CSPvNext .row-fluid .bp3-col-6-0,.CSPvNext .row-fluid .bp3-col-7-0,.CSPvNext .row-fluid .bp3-col-8-0,.CSPvNext .row-fluid .bp3-col-9-0,.CSPvNext .row-fluid .bp3-col-10-0,.CSPvNext .row-fluid .bp3-col-11-0,.CSPvNext .row-fluid .bp3-col-12-0{display:none}.CSPvNext .row-fluid>.bp3-col-1,.CSPvNext .row-fluid>.bp3-col-1-1,.CSPvNext .row-fluid>.bp3-col-2-2,.CSPvNext .row-fluid>.bp3-col-3-3,.CSPvNext .row-fluid>.bp3-col-4-4,.CSPvNext .row-fluid>.bp3-col-5-5,.CSPvNext .row-fluid>.bp3-col-6-6,.CSPvNext .row-fluid>.bp3-col-7-7,.CSPvNext .row-fluid>.bp3-col-8-8,.CSPvNext .row-fluid>.bp3-col-9-9,.CSPvNext .row-fluid>.bp3-col-10-10,.CSPvNext .row-fluid>.bp3-col-11-11,.CSPvNext .row-fluid>.bp3-col-12-12{width:100%}.CSPvNext .row-fluid>.bp3-col-2,.CSPvNext .row-fluid>.bp3-col-2-1,.CSPvNext .row-fluid>.bp3-col-4-2,.CSPvNext .row-fluid>.bp3-col-6-3,.CSPvNext .row-fluid>.bp3-col-8-4,.CSPvNext .row-fluid>.bp3-col-10-5,.CSPvNext .row-fluid>.bp3-col-12-6{width:49%;*width:48.9%}.CSPvNext .row-fluid>.bp3-col-3,.CSPvNext .row-fluid>.bp3-col-3-1,.CSPvNext .row-fluid>.bp3-col-6-2,.CSPvNext .row-fluid>.bp3-col-9-3,.CSPvNext .row-fluid>.bp3-col-12-4{width:32%;*width:31.9%}.CSPvNext .row-fluid>.bp3-col-3-2,.CSPvNext .row-fluid>.bp3-col-6-4,.CSPvNext .row-fluid>.bp3-col-9-6,.CSPvNext .row-fluid>.bp3-col-12-8{width:66%;*width:65.9%}.CSPvNext .row-fluid>.bp3-col-4,.CSPvNext .row-fluid>.bp3-col-4-1,.CSPvNext .row-fluid>.bp3-col-8-2,.CSPvNext .row-fluid>.bp3-col-12-3{width:23.5%;*width:23.4%}.CSPvNext .row-fluid>.bp3-col-4-3,.CSPvNext .row-fluid>.bp3-col-8-6{width:74.5%;*width:74.4%}.CSPvNext .row-fluid>.bp3-col-5,.CSPvNext .row-fluid>.bp3-col-5-1,.CSPvNext .row-fluid>.bp3-col-10-2{width:18.4%;*width:18.3%}.CSPvNext .row-fluid>.bp3-col-5-2{width:38.8%;*width:38.7%}.CSPvNext .row-fluid>.bp3-col-5-3{width:59.2%;*width:59.1%}.CSPvNext .row-fluid>.bp3-col-5-4{width:79.6%;*width:79.5%}.CSPvNext .row-fluid>.bp3-col-6,.CSPvNext .row-fluid>.bp3-col-6-1,.CSPvNext .row-fluid>.bp3-col-12-2{width:15%;*width:14.9%}.CSPvNext .row-fluid>.bp3-col-6-5{width:83%;*width:82.9%}.CSPvNext .row-fluid>.bp3-col-7,.CSPvNext .row-fluid>.bp3-col-7-1{width:12.57143%;*width:12.47143%}.CSPvNext .row-fluid>.bp3-col-7-2{width:27.14286%;*width:27.04286%}.CSPvNext .row-fluid>.bp3-col-7-3{width:41.71429%;*width:41.61429%}.CSPvNext .row-fluid>.bp3-col-7-4{width:56.28571%;*width:56.18571%}.CSPvNext .row-fluid>.bp3-col-7-5{width:70.85714%;*width:70.75714%}.CSPvNext .row-fluid>.bp3-col-7-6{width:85.42857%;*width:85.32857%}.CSPvNext .row-fluid>.bp3-col-8,.CSPvNext .row-fluid>.bp3-col-8-1{width:10.75%;*width:10.65%}.CSPvNext .row-fluid>.bp3-col-8-3{width:36.25%;*width:36.15%}.CSPvNext .row-fluid>.bp3-col-8-5{width:61.75%;*width:61.65%}.CSPvNext .row-fluid>.bp3-col-8-7{width:87.25%;*width:87.15%}.CSPvNext .row-fluid>.bp3-col-9,.CSPvNext .row-fluid>.bp3-col-9-1{width:9.33333%;*width:9.23333%}.CSPvNext .row-fluid>.bp3-col-9-2{width:20.66667%;*width:20.56667%}.CSPvNext .row-fluid>.bp3-col-9-4{width:43.33333%;*width:43.23333%}.CSPvNext .row-fluid>.bp3-col-9-5{width:54.66667%;*width:54.56667%}.CSPvNext .row-fluid>.bp3-col-9-7{width:77.33333%;*width:77.23333%}.CSPvNext .row-fluid>.bp3-col-9-8{width:88.66667%;*width:88.56667%}.CSPvNext .row-fluid>.bp3-col-10,.CSPvNext .row-fluid>.bp3-col-10-1{width:8.2%;*width:8.1%}.CSPvNext .row-fluid>.bp3-col-10-3{width:28.6%;*width:28.5%}.CSPvNext .row-fluid>.bp3-col-10-4{width:38.8%;*width:38.7%}.CSPvNext .row-fluid>.bp3-col-10-6{width:59.2%;*width:59.1%}.CSPvNext .row-fluid>.bp3-col-10-7{width:69.4%;*width:69.3%}.CSPvNext .row-fluid>.bp3-col-10-8{width:79.6%;*width:79.5%}.CSPvNext .row-fluid>.bp3-col-10-9{width:89.8%;*width:89.7%}.CSPvNext .row-fluid>.bp3-col-11,.CSPvNext .row-fluid>.bp3-col-11-1{width:7.27273%;*width:7.17273%}.CSPvNext .row-fluid>.bp3-col-11-2{width:16.54545%;*width:16.44545%}.CSPvNext .row-fluid>.bp3-col-11-3{width:25.81818%;*width:25.71818%}.CSPvNext .row-fluid>.bp3-col-11-4{width:35.09091%;*width:34.99091%}.CSPvNext .row-fluid>.bp3-col-11-5{width:44.36364%;*width:44.26364%}.CSPvNext .row-fluid>.bp3-col-11-6{width:53.63636%;*width:53.53636%}.CSPvNext .row-fluid>.bp3-col-11-7{width:62.90909%;*width:62.80909%}.CSPvNext .row-fluid>.bp3-col-11-8{width:72.18182%;*width:72.08182%}.CSPvNext .row-fluid>.bp3-col-11-9{width:81.45455%;*width:81.35455%}.CSPvNext .row-fluid>.bp3-col-11-10{width:90.72727%;*width:90.62727%}.CSPvNext .row-fluid>.bp3-col-12,.CSPvNext .row-fluid>.bp3-col-12-1{width:6.5%;*width:6.4%}.CSPvNext .row-fluid>.bp3-col-12-5{width:40.5%;*width:40.4%}.CSPvNext .row-fluid>.bp3-col-12-7{width:57.5%;*width:57.4%}.CSPvNext .row-fluid>.bp3-col-12-9{width:74.5%;*width:74.4%}.CSPvNext .row-fluid>.bp3-col-12-10{width:83%;*width:82.9%}.CSPvNext .row-fluid>.bp3-col-12-11{width:91.5%;*width:91.4%}@media screen and (max-width:539px){.CSPvNext .row-fluid>.span{width:100%;margin-left:0}.CSPvNext .row-fluid .bp0-clear{clear:both}.CSPvNext .row-fluid [class*="bp0-col"]{display:block}.CSPvNext .row-fluid>.bp0-clear,.CSPvNext .row-fluid>.bp0-col-1-1{margin-left:0}.CSPvNext .row-fluid .bp0-col-1-0,.CSPvNext .row-fluid .bp0-col-2-0,.CSPvNext .row-fluid .bp0-col-3-0,.CSPvNext .row-fluid .bp0-col-4-0,.CSPvNext .row-fluid .bp0-col-5-0,.CSPvNext .row-fluid .bp0-col-6-0,.CSPvNext .row-fluid .bp0-col-7-0,.CSPvNext .row-fluid .bp0-col-8-0,.CSPvNext .row-fluid .bp0-col-9-0,.CSPvNext .row-fluid .bp0-col-10-0,.CSPvNext .row-fluid .bp0-col-11-0,.CSPvNext .row-fluid .bp0-col-12-0{display:none}.CSPvNext .row-fluid>.bp0-col-1,.CSPvNext .row-fluid>.bp0-col-1-1,.CSPvNext .row-fluid>.bp0-col-2-2,.CSPvNext .row-fluid>.bp0-col-3-3,.CSPvNext .row-fluid>.bp0-col-4-4,.CSPvNext .row-fluid>.bp0-col-5-5,.CSPvNext .row-fluid>.bp0-col-6-6,.CSPvNext .row-fluid>.bp0-col-7-7,.CSPvNext .row-fluid>.bp0-col-8-8,.CSPvNext .row-fluid>.bp0-col-9-9,.CSPvNext .row-fluid>.bp0-col-10-10,.CSPvNext .row-fluid>.bp0-col-11-11,.CSPvNext .row-fluid>.bp0-col-12-12{width:100%}.CSPvNext .row-fluid>.bp0-col-2,.CSPvNext .row-fluid>.bp0-col-2-1,.CSPvNext .row-fluid>.bp0-col-4-2,.CSPvNext .row-fluid>.bp0-col-6-3,.CSPvNext .row-fluid>.bp0-col-8-4,.CSPvNext .row-fluid>.bp0-col-10-5,.CSPvNext .row-fluid>.bp0-col-12-6{width:49%}.CSPvNext .row-fluid>.bp0-col-3,.CSPvNext .row-fluid>.bp0-col-3-1,.CSPvNext .row-fluid>.bp0-col-6-2,.CSPvNext .row-fluid>.bp0-col-9-3,.CSPvNext .row-fluid>.bp0-col-12-4{width:32%}.CSPvNext .row-fluid>.bp0-col-3-2,.CSPvNext .row-fluid>.bp0-col-6-4,.CSPvNext .row-fluid>.bp0-col-9-6,.CSPvNext .row-fluid>.bp0-col-12-8{width:66%}.CSPvNext .row-fluid>.bp0-col-4,.CSPvNext .row-fluid>.bp0-col-4-1,.CSPvNext .row-fluid>.bp0-col-8-2,.CSPvNext .row-fluid>.bp0-col-12-3{width:23.5%}.CSPvNext .row-fluid>.bp0-col-4-3,.CSPvNext .row-fluid>.bp0-col-8-6{width:74.5%}.CSPvNext .row-fluid>.bp0-col-5,.CSPvNext .row-fluid>.bp0-col-5-1,.CSPvNext .row-fluid>.bp0-col-10-2{width:18.4%}.CSPvNext .row-fluid>.bp0-col-5-2{width:38.8%}.CSPvNext .row-fluid>.bp0-col-5-3{width:59.2%}.CSPvNext .row-fluid>.bp0-col-5-4{width:79.6%}.CSPvNext .row-fluid>.bp0-col-6,.CSPvNext .row-fluid>.bp0-col-6-1,.CSPvNext .row-fluid>.bp0-col-12-2{width:15%}.CSPvNext .row-fluid>.bp0-col-6-5{width:83%}.CSPvNext .row-fluid>.bp0-col-7,.CSPvNext .row-fluid>.bp0-col-7-1{width:12.57143%}.CSPvNext .row-fluid>.bp0-col-7-2{width:27.14286%}.CSPvNext .row-fluid>.bp0-col-7-3{width:41.71429%}.CSPvNext .row-fluid>.bp0-col-7-4{width:56.28571%}.CSPvNext .row-fluid>.bp0-col-7-5{width:70.85714%}.CSPvNext .row-fluid>.bp0-col-7-6{width:85.42857%}.CSPvNext .row-fluid>.bp0-col-8,.CSPvNext .row-fluid>.bp0-col-8-1{width:10.75%}.CSPvNext .row-fluid>.bp0-col-8-3{width:36.25%}.CSPvNext .row-fluid>.bp0-col-8-5{width:61.75%}.CSPvNext .row-fluid>.bp0-col-8-7{width:87.25%}.CSPvNext .row-fluid>.bp0-col-9,.CSPvNext .row-fluid>.bp0-col-9-1{width:9.33333%}.CSPvNext .row-fluid>.bp0-col-9-2{width:20.66667%}.CSPvNext .row-fluid>.bp0-col-9-4{width:43.33333%}.CSPvNext .row-fluid>.bp0-col-9-5{width:54.66667%}.CSPvNext .row-fluid>.bp0-col-9-7{width:77.33333%}.CSPvNext .row-fluid>.bp0-col-9-8{width:88.66667%}.CSPvNext .row-fluid>.bp0-col-10,.CSPvNext .row-fluid>.bp0-col-10-1{width:8.2%}.CSPvNext .row-fluid>.bp0-col-10-3{width:28.6%}.CSPvNext .row-fluid>.bp0-col-10-4{width:38.8%}.CSPvNext .row-fluid>.bp0-col-10-6{width:59.2%}.CSPvNext .row-fluid>.bp0-col-10-7{width:69.4%}.CSPvNext .row-fluid>.bp0-col-10-8{width:79.6%}.CSPvNext .row-fluid>.bp0-col-10-9{width:89.8%}.CSPvNext .row-fluid>.bp0-col-11,.CSPvNext .row-fluid>.bp0-col-11-1{width:7.27273%}.CSPvNext .row-fluid>.bp0-col-11-2{width:16.54545%}.CSPvNext .row-fluid>.bp0-col-11-3{width:25.81818%}.CSPvNext .row-fluid>.bp0-col-11-4{width:35.09091%}.CSPvNext .row-fluid>.bp0-col-11-5{width:44.36364%}.CSPvNext .row-fluid>.bp0-col-11-6{width:53.63636%}.CSPvNext .row-fluid>.bp0-col-11-7{width:62.90909%}.CSPvNext .row-fluid>.bp0-col-11-8{width:72.18182%}.CSPvNext .row-fluid>.bp0-col-11-9{width:81.45455%}.CSPvNext .row-fluid>.bp0-col-11-10{width:90.72727%}.CSPvNext .row-fluid>.bp0-col-12,.CSPvNext .row-fluid>.bp0-col-12-1{width:6.5%}.CSPvNext .row-fluid>.bp0-col-12-5{width:40.5%}.CSPvNext .row-fluid>.bp0-col-12-7{width:57.5%}.CSPvNext .row-fluid>.bp0-col-12-9{width:74.5%}.CSPvNext .row-fluid>.bp0-col-12-10{width:83%}.CSPvNext .row-fluid>.bp0-col-12-11{width:91.5%}}@media screen and (min-width:540px) and (max-width:679px){.CSPvNext .row-fluid .span{width:100%}.CSPvNext .row-fluid .bp1-clear{clear:both}.CSPvNext .row-fluid [class*="bp1-col"]{display:block}.CSPvNext .row-fluid>.bp1-clear,.CSPvNext .row-fluid>.bp1-col-1-1{margin-left:0}.CSPvNext .row-fluid .bp1-col-1-0,.CSPvNext .row-fluid .bp1-col-2-0,.CSPvNext .row-fluid .bp1-col-3-0,.CSPvNext .row-fluid .bp1-col-4-0,.CSPvNext .row-fluid .bp1-col-5-0,.CSPvNext .row-fluid .bp1-col-6-0,.CSPvNext .row-fluid .bp1-col-7-0,.CSPvNext .row-fluid .bp1-col-8-0,.CSPvNext .row-fluid .bp1-col-9-0,.CSPvNext .row-fluid .bp1-col-10-0,.CSPvNext .row-fluid .bp1-col-11-0,.CSPvNext .row-fluid .bp1-col-12-0{display:none}.CSPvNext .row-fluid>.bp1-col-1,.CSPvNext .row-fluid>.bp1-col-1-1,.CSPvNext .row-fluid>.bp1-col-2-2,.CSPvNext .row-fluid>.bp1-col-3-3,.CSPvNext .row-fluid>.bp1-col-4-4,.CSPvNext .row-fluid>.bp1-col-5-5,.CSPvNext .row-fluid>.bp1-col-6-6,.CSPvNext .row-fluid>.bp1-col-7-7,.CSPvNext .row-fluid>.bp1-col-8-8,.CSPvNext .row-fluid>.bp1-col-9-9,.CSPvNext .row-fluid>.bp1-col-10-10,.CSPvNext .row-fluid>.bp1-col-11-11,.CSPvNext .row-fluid>.bp1-col-12-12{width:100%}.CSPvNext .row-fluid>.bp1-col-2,.CSPvNext .row-fluid>.bp1-col-2-1,.CSPvNext .row-fluid>.bp1-col-4-2,.CSPvNext .row-fluid>.bp1-col-6-3,.CSPvNext .row-fluid>.bp1-col-8-4,.CSPvNext .row-fluid>.bp1-col-10-5,.CSPvNext .row-fluid>.bp1-col-12-6{width:49%}.CSPvNext .row-fluid>.bp1-col-3,.CSPvNext .row-fluid>.bp1-col-3-1,.CSPvNext .row-fluid>.bp1-col-6-2,.CSPvNext .row-fluid>.bp1-col-9-3,.CSPvNext .row-fluid>.bp1-col-12-4{width:32%}.CSPvNext .row-fluid>.bp1-col-3-2,.CSPvNext .row-fluid>.bp1-col-6-4,.CSPvNext .row-fluid>.bp1-col-9-6,.CSPvNext .row-fluid>.bp1-col-12-8{width:66%}.CSPvNext .row-fluid>.bp1-col-4,.CSPvNext .row-fluid>.bp1-col-4-1,.CSPvNext .row-fluid>.bp1-col-8-2,.CSPvNext .row-fluid>.bp1-col-12-3{width:23.5%}.CSPvNext .row-fluid>.bp1-col-4-3,.CSPvNext .row-fluid>.bp1-col-8-6{width:74.5%}.CSPvNext .row-fluid>.bp1-col-5,.CSPvNext .row-fluid>.bp1-col-5-1,.CSPvNext .row-fluid>.bp1-col-10-2{width:18.4%}.CSPvNext .row-fluid>.bp1-col-5-2{width:38.8%}.CSPvNext .row-fluid>.bp1-col-5-3{width:59.2%}.CSPvNext .row-fluid>.bp1-col-5-4{width:79.6%}.CSPvNext .row-fluid>.bp1-col-6,.CSPvNext .row-fluid>.bp1-col-6-1,.CSPvNext .row-fluid>.bp1-col-12-2{width:15%}.CSPvNext .row-fluid>.bp1-col-6-5{width:83%}.CSPvNext .row-fluid>.bp1-col-7,.CSPvNext .row-fluid>.bp1-col-7-1{width:12.57143%}.CSPvNext .row-fluid>.bp1-col-7-2{width:27.14286%}.CSPvNext .row-fluid>.bp1-col-7-3{width:41.71429%}.CSPvNext .row-fluid>.bp1-col-7-4{width:56.28571%}.CSPvNext .row-fluid>.bp1-col-7-5{width:70.85714%}.CSPvNext .row-fluid>.bp1-col-7-6{width:85.42857%}.CSPvNext .row-fluid>.bp1-col-8,.CSPvNext .row-fluid>.bp1-col-8-1{width:10.75%}.CSPvNext .row-fluid>.bp1-col-8-3{width:36.25%}.CSPvNext .row-fluid>.bp1-col-8-5{width:61.75%}.CSPvNext .row-fluid>.bp1-col-8-7{width:87.25%}.CSPvNext .row-fluid>.bp1-col-9,.CSPvNext .row-fluid>.bp1-col-9-1{width:9.33333%}.CSPvNext .row-fluid>.bp1-col-9-2{width:20.66667%}.CSPvNext .row-fluid>.bp1-col-9-4{width:43.33333%}.CSPvNext .row-fluid>.bp1-col-9-5{width:54.66667%}.CSPvNext .row-fluid>.bp1-col-9-7{width:77.33333%}.CSPvNext .row-fluid>.bp1-col-9-8{width:88.66667%}.CSPvNext .row-fluid>.bp1-col-10,.CSPvNext .row-fluid>.bp1-col-10-1{width:8.2%}.CSPvNext .row-fluid>.bp1-col-10-3{width:28.6%}.CSPvNext .row-fluid>.bp1-col-10-4{width:38.8%}.CSPvNext .row-fluid>.bp1-col-10-6{width:59.2%}.CSPvNext .row-fluid>.bp1-col-10-7{width:69.4%}.CSPvNext .row-fluid>.bp1-col-10-8{width:79.6%}.CSPvNext .row-fluid>.bp1-col-10-9{width:89.8%}.CSPvNext .row-fluid>.bp1-col-11,.CSPvNext .row-fluid>.bp1-col-11-1{width:7.27273%}.CSPvNext .row-fluid>.bp1-col-11-2{width:16.54545%}.CSPvNext .row-fluid>.bp1-col-11-3{width:25.81818%}.CSPvNext .row-fluid>.bp1-col-11-4{width:35.09091%}.CSPvNext .row-fluid>.bp1-col-11-5{width:44.36364%}.CSPvNext .row-fluid>.bp1-col-11-6{width:53.63636%}.CSPvNext .row-fluid>.bp1-col-11-7{width:62.90909%}.CSPvNext .row-fluid>.bp1-col-11-8{width:72.18182%}.CSPvNext .row-fluid>.bp1-col-11-9{width:81.45455%}.CSPvNext .row-fluid>.bp1-col-11-10{width:90.72727%}.CSPvNext .row-fluid>.bp1-col-12,.CSPvNext .row-fluid>.bp1-col-12-1{width:6.5%}.CSPvNext .row-fluid>.bp1-col-12-5{width:40.5%}.CSPvNext .row-fluid>.bp1-col-12-7{width:57.5%}.CSPvNext .row-fluid>.bp1-col-12-9{width:74.5%}.CSPvNext .row-fluid>.bp1-col-12-10{width:83%}.CSPvNext .row-fluid>.bp1-col-12-11{width:91.5%}}@media screen and (min-width:680px) and (max-width:899px){.CSPvNext .row-fluid .span{width:100%}.CSPvNext .row-fluid>.span{width:100%}.CSPvNext .row-fluid .bp2-clear{clear:both}.CSPvNext .row-fluid [class*="bp2-col"]{display:block}.CSPvNext .row-fluid>.bp2-clear,.CSPvNext .row-fluid>.bp2-col-1-1{margin-left:0}.CSPvNext .row-fluid .bp2-col-1-0,.CSPvNext .row-fluid .bp2-col-2-0,.CSPvNext .row-fluid .bp2-col-3-0,.CSPvNext .row-fluid .bp2-col-4-0,.CSPvNext .row-fluid .bp2-col-5-0,.CSPvNext .row-fluid .bp2-col-6-0,.CSPvNext .row-fluid .bp2-col-7-0,.CSPvNext .row-fluid .bp2-col-8-0,.CSPvNext .row-fluid .bp2-col-9-0,.CSPvNext .row-fluid .bp2-col-10-0,.CSPvNext .row-fluid .bp2-col-11-0,.CSPvNext .row-fluid .bp2-col-12-0{display:none}.CSPvNext .row-fluid>.bp2-col-1,.CSPvNext .row-fluid>.bp2-col-1-1,.CSPvNext .row-fluid>.bp2-col-2-2,.CSPvNext .row-fluid>.bp2-col-3-3,.CSPvNext .row-fluid>.bp2-col-4-4,.CSPvNext .row-fluid>.bp2-col-5-5,.CSPvNext .row-fluid>.bp2-col-6-6,.CSPvNext .row-fluid>.bp2-col-7-7,.CSPvNext .row-fluid>.bp2-col-8-8,.CSPvNext .row-fluid>.bp2-col-9-9,.CSPvNext .row-fluid>.bp2-col-10-10,.CSPvNext .row-fluid>.bp2-col-11-11,.CSPvNext .row-fluid>.bp2-col-12-12{width:100%}.CSPvNext .row-fluid>.bp2-col-2,.CSPvNext .row-fluid>.bp2-col-2-1,.CSPvNext .row-fluid>.bp2-col-4-2,.CSPvNext .row-fluid>.bp2-col-6-3,.CSPvNext .row-fluid>.bp2-col-8-4,.CSPvNext .row-fluid>.bp2-col-10-5,.CSPvNext .row-fluid>.bp2-col-12-6{width:49%}.CSPvNext .row-fluid>.bp2-col-3,.CSPvNext .row-fluid>.bp2-col-3-1,.CSPvNext .row-fluid>.bp2-col-6-2,.CSPvNext .row-fluid>.bp2-col-9-3,.CSPvNext .row-fluid>.bp2-col-12-4{width:32%}.CSPvNext .row-fluid>.bp2-col-3-2,.CSPvNext .row-fluid>.bp2-col-6-4,.CSPvNext .row-fluid>.bp2-col-9-6,.CSPvNext .row-fluid>.bp2-col-12-8{width:66%}.CSPvNext .row-fluid>.bp2-col-4,.CSPvNext .row-fluid>.bp2-col-4-1,.CSPvNext .row-fluid>.bp2-col-8-2,.CSPvNext .row-fluid>.bp2-col-12-3{width:23.5%}.CSPvNext .row-fluid>.bp2-col-4-3,.CSPvNext .row-fluid>.bp2-col-8-6{width:74.5%}.CSPvNext .row-fluid>.bp2-col-5,.CSPvNext .row-fluid>.bp2-col-5-1,.CSPvNext .row-fluid>.bp2-col-10-2{width:18.4%}.CSPvNext .row-fluid>.bp2-col-5-2{width:38.8%}.CSPvNext .row-fluid>.bp2-col-5-3{width:59.2%}.CSPvNext .row-fluid>.bp2-col-5-4{width:79.6%}.CSPvNext .row-fluid>.bp2-col-6,.CSPvNext .row-fluid>.bp2-col-6-1,.CSPvNext .row-fluid>.bp2-col-12-2{width:15%}.CSPvNext .row-fluid>.bp2-col-6-5{width:83%}.CSPvNext .row-fluid>.bp2-col-7,.CSPvNext .row-fluid>.bp2-col-7-1{width:12.57143%}.CSPvNext .row-fluid>.bp2-col-7-2{width:27.14286%}.CSPvNext .row-fluid>.bp2-col-7-3{width:41.71429%}.CSPvNext .row-fluid>.bp2-col-7-4{width:56.28571%}.CSPvNext .row-fluid>.bp2-col-7-5{width:70.85714%}.CSPvNext .row-fluid>.bp2-col-7-6{width:85.42857%}.CSPvNext .row-fluid>.bp2-col-8,.CSPvNext .row-fluid>.bp2-col-8-1{width:10.75%}.CSPvNext .row-fluid>.bp2-col-8-3{width:36.25%}.CSPvNext .row-fluid>.bp2-col-8-5{width:61.75%}.CSPvNext .row-fluid>.bp2-col-8-7{width:87.25%}.CSPvNext .row-fluid>.bp2-col-9,.CSPvNext .row-fluid>.bp2-col-9-1{width:9.33333%}.CSPvNext .row-fluid>.bp2-col-9-2{width:20.66667%}.CSPvNext .row-fluid>.bp2-col-9-4{width:43.33333%}.CSPvNext .row-fluid>.bp2-col-9-5{width:54.66667%}.CSPvNext .row-fluid>.bp2-col-9-7{width:77.33333%}.CSPvNext .row-fluid>.bp2-col-9-8{width:88.66667%}.CSPvNext .row-fluid>.bp2-col-10,.CSPvNext .row-fluid>.bp2-col-10-1{width:8.2%}.CSPvNext .row-fluid>.bp2-col-10-3{width:28.6%}.CSPvNext .row-fluid>.bp2-col-10-4{width:38.8%}.CSPvNext .row-fluid>.bp2-col-10-6{width:59.2%}.CSPvNext .row-fluid>.bp2-col-10-7{width:69.4%}.CSPvNext .row-fluid>.bp2-col-10-8{width:79.6%}.CSPvNext .row-fluid>.bp2-col-10-9{width:89.8%}.CSPvNext .row-fluid>.bp2-col-11,.CSPvNext .row-fluid>.bp2-col-11-1{width:7.27273%}.CSPvNext .row-fluid>.bp2-col-11-2{width:16.54545%}.CSPvNext .row-fluid>.bp2-col-11-3{width:25.81818%}.CSPvNext .row-fluid>.bp2-col-11-4{width:35.09091%}.CSPvNext .row-fluid>.bp2-col-11-5{width:44.36364%}.CSPvNext .row-fluid>.bp2-col-11-6{width:53.63636%}.CSPvNext .row-fluid>.bp2-col-11-7{width:62.90909%}.CSPvNext .row-fluid>.bp2-col-11-8{width:72.18182%}.CSPvNext .row-fluid>.bp2-col-11-9{width:81.45455%}.CSPvNext .row-fluid>.bp2-col-11-10{width:90.72727%}.CSPvNext .row-fluid>.bp2-col-12,.CSPvNext .row-fluid>.bp2-col-12-1{width:6.5%}.CSPvNext .row-fluid>.bp2-col-12-5{width:40.5%}.CSPvNext .row-fluid>.bp2-col-12-7{width:57.5%}.CSPvNext .row-fluid>.bp2-col-12-9{width:74.5%}.CSPvNext .row-fluid>.bp2-col-12-10{width:83%}.CSPvNext .row-fluid>.bp2-col-12-11{width:91.5%}}.CSPvNext .margin-row-fluid{width:100%;*zoom:1}.CSPvNext .margin-row-fluid.mscom-grid-container,.CSPvNext .mscom-grid-container{width:96%}.CSPvNext .margin-row-fluid:before,.CSPvNext .margin-row-fluid:after{display:table;line-height:0;content:""}.CSPvNext .margin-row-fluid:after{clear:both}.CSPvNext .margin-row-fluid .span{display:block;float:left;width:96%;margin-left:2%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.CSPvNext .margin-row-fluid>.span:first-child{margin-left:2%}.CSPvNext .margin-row-fluid>.bp3-clear,.CSPvNext .margin-row-fluid>.bp3-col-1-1{margin-left:2%}.CSPvNext .margin-row-fluid .bp3-col-1-0,.CSPvNext .margin-row-fluid .bp3-col-2-0,.CSPvNext .margin-row-fluid .bp3-col-3-0,.CSPvNext .margin-row-fluid .bp3-col-4-0,.CSPvNext .margin-row-fluid .bp3-col-5-0,.CSPvNext .margin-row-fluid .bp3-col-6-0,.CSPvNext .margin-row-fluid .bp3-col-7-0,.CSPvNext .margin-row-fluid .bp3-col-8-0,.CSPvNext .margin-row-fluid .bp3-col-9-0,.CSPvNext .margin-row-fluid .bp3-col-10-0,.CSPvNext .margin-row-fluid .bp3-col-11-0,.CSPvNext .margin-row-fluid .bp3-col-12-0{display:none}.CSPvNext .margin-row-fluid>.bp3-col-1,.CSPvNext .margin-row-fluid>.bp3-col-1-1,.CSPvNext .margin-row-fluid>.bp3-col-2-2,.CSPvNext .margin-row-fluid>.bp3-col-3-3,.CSPvNext .margin-row-fluid>.bp3-col-4-4,.CSPvNext .margin-row-fluid>.bp3-col-5-5,.CSPvNext .margin-row-fluid>.bp3-col-6-6,.CSPvNext .margin-row-fluid>.bp3-col-7-7,.CSPvNext .margin-row-fluid>.bp3-col-8-8,.CSPvNext .margin-row-fluid>.bp3-col-9-9,.CSPvNext .margin-row-fluid>.bp3-col-10-10,.CSPvNext .margin-row-fluid>.bp3-col-11-11,.CSPvNext .margin-row-fluid>.bp3-col-12-12{width:96%}.CSPvNext .margin-row-fluid>.bp3-col-2,.CSPvNext .margin-row-fluid>.bp3-col-2-1,.CSPvNext .margin-row-fluid>.bp3-col-4-2,.CSPvNext .margin-row-fluid>.bp3-col-6-3,.CSPvNext .margin-row-fluid>.bp3-col-8-4,.CSPvNext .margin-row-fluid>.bp3-col-10-5,.CSPvNext .margin-row-fluid>.bp3-col-12-6{width:47%;*width:46.9%}.CSPvNext .margin-row-fluid>.bp3-col-3,.CSPvNext .margin-row-fluid>.bp3-col-3-1,.CSPvNext .margin-row-fluid>.bp3-col-6-2,.CSPvNext .margin-row-fluid>.bp3-col-9-3,.CSPvNext .margin-row-fluid>.bp3-col-12-4{width:30.66667%;*width:30.56667%}.CSPvNext .margin-row-fluid>.bp3-col-3-2,.CSPvNext .margin-row-fluid>.bp3-col-6-4,.CSPvNext .margin-row-fluid>.bp3-col-9-6,.CSPvNext .margin-row-fluid>.bp3-col-12-8{width:63.33333%;*width:63.23333%}.CSPvNext .margin-row-fluid>.bp3-col-4,.CSPvNext .margin-row-fluid>.bp3-col-4-1,.CSPvNext .margin-row-fluid>.bp3-col-8-2,.CSPvNext .margin-row-fluid>.bp3-col-12-3{width:22.5%;*width:22.4%}.CSPvNext .margin-row-fluid>.bp3-col-4-3,.CSPvNext .margin-row-fluid>.bp3-col-8-6{width:71.5%;*width:71.4%}.CSPvNext .margin-row-fluid>.bp3-col-5,.CSPvNext .margin-row-fluid>.bp3-col-5-1,.CSPvNext .margin-row-fluid>.bp3-col-10-2{width:17.6%;*width:17.5%}.CSPvNext .margin-row-fluid>.bp3-col-5-2{width:37.2%;*width:37.1%}.CSPvNext .margin-row-fluid>.bp3-col-5-3{width:56.8%;*width:56.7%}.CSPvNext .margin-row-fluid>.bp3-col-5-4{width:76.4%;*width:76.3%}.CSPvNext .margin-row-fluid>.bp3-col-6,.CSPvNext .margin-row-fluid>.bp3-col-6-1,.CSPvNext .margin-row-fluid>.bp3-col-12-2{width:14.33333%;*width:14.23333%}.CSPvNext .margin-row-fluid>.bp3-col-6-5{width:79.66667%;*width:79.56667%}.CSPvNext .margin-row-fluid>.bp3-col-7,.CSPvNext .margin-row-fluid>.bp3-col-7-1{width:12%;*width:11.9%}.CSPvNext .margin-row-fluid>.bp3-col-7-2{width:26%;*width:25.9%}.CSPvNext .margin-row-fluid>.bp3-col-7-3{width:40%;*width:39.9%}.CSPvNext .margin-row-fluid>.bp3-col-7-4{width:54%;*width:53.9%}.CSPvNext .margin-row-fluid>.bp3-col-7-5{width:68%;*width:67.9%}.CSPvNext .margin-row-fluid>.bp3-col-7-6{width:82%;*width:81.9%}.CSPvNext .margin-row-fluid>.bp3-col-8,.CSPvNext .margin-row-fluid>.bp3-col-8-1{width:10.25%;*width:10.15%}.CSPvNext .margin-row-fluid>.bp3-col-8-3{width:34.75%;*width:34.65%}.CSPvNext .margin-row-fluid>.bp3-col-8-5{width:59.25%;*width:59.15%}.CSPvNext .margin-row-fluid>.bp3-col-8-7{width:83.75%;*width:83.65%}.CSPvNext .margin-row-fluid>.bp3-col-9,.CSPvNext .margin-row-fluid>.bp3-col-9-1{width:8.88889%;*width:8.78889%}.CSPvNext .margin-row-fluid>.bp3-col-9-2{width:19.77778%;*width:19.67778%}.CSPvNext .margin-row-fluid>.bp3-col-9-4{width:41.55556%;*width:41.45556%}.CSPvNext .margin-row-fluid>.bp3-col-9-5{width:52.44444%;*width:52.34444%}.CSPvNext .margin-row-fluid>.bp3-col-9-7{width:74.22222%;*width:74.12222%}.CSPvNext .margin-row-fluid>.bp3-col-9-8{width:85.11111%;*width:85.01111%}.CSPvNext .margin-row-fluid>.bp3-col-10,.CSPvNext .margin-row-fluid>.bp3-col-10-1{width:7.8%;*width:7.7%}.CSPvNext .margin-row-fluid>.bp3-col-10-3{width:27.4%;*width:27.3%}.CSPvNext .margin-row-fluid>.bp3-col-10-4{width:37.2%;*width:37.1%}.CSPvNext .margin-row-fluid>.bp3-col-10-6{width:56.8%;*width:56.7%}.CSPvNext .margin-row-fluid>.bp3-col-10-7{width:66.6%;*width:66.5%}.CSPvNext .margin-row-fluid>.bp3-col-10-8{width:76.4%;*width:76.3%}.CSPvNext .margin-row-fluid>.bp3-col-10-9{width:86.2%;*width:86.1%}.CSPvNext .margin-row-fluid>.bp3-col-11,.CSPvNext .margin-row-fluid>.bp3-col-11-1{width:6.90909%;*width:6.80909%}.CSPvNext .margin-row-fluid>.bp3-col-11-2{width:15.81818%;*width:15.71818%}.CSPvNext .margin-row-fluid>.bp3-col-11-3{width:24.72727%;*width:24.62727%}.CSPvNext .margin-row-fluid>.bp3-col-11-4{width:33.63636%;*width:33.53636%}.CSPvNext .margin-row-fluid>.bp3-col-11-5{width:42.54545%;*width:42.44545%}.CSPvNext .margin-row-fluid>.bp3-col-11-6{width:51.45455%;*width:51.35455%}.CSPvNext .margin-row-fluid>.bp3-col-11-7{width:60.36364%;*width:60.26364%}.CSPvNext .margin-row-fluid>.bp3-col-11-8{width:69.27273%;*width:69.17273%}.CSPvNext .margin-row-fluid>.bp3-col-11-9{width:78.18182%;*width:78.08182%}.CSPvNext .margin-row-fluid>.bp3-col-11-10{width:87.09091%;*width:86.99091%}.CSPvNext .margin-row-fluid>.bp3-col-12,.CSPvNext .margin-row-fluid>.bp3-col-12-1{width:6.16667%;*width:6.06667%}.CSPvNext .margin-row-fluid>.bp3-col-12-5{width:38.83333%;*width:38.73333%}.CSPvNext .margin-row-fluid>.bp3-col-12-7{width:55.16667%;*width:55.06667%}.CSPvNext .margin-row-fluid>.bp3-col-12-9{width:71.5%;*width:71.4%}.CSPvNext .margin-row-fluid>.bp3-col-12-10{width:79.66667%;*width:79.56667%}.CSPvNext .margin-row-fluid>.bp3-col-12-11{width:87.83333%;*width:87.73333%}@media screen and (max-width:539px){.CSPvNext .margin-row-fluid>.span{width:96%}.CSPvNext .margin-row-fluid .bp0-clear{clear:both}.CSPvNext .margin-row-fluid [class*="bp0-col"]{display:block}.CSPvNext .margin-row-fluid>.bp0-clear,.CSPvNext .margin-row-fluid>.bp0-col-1-1{margin-left:2%}.CSPvNext .margin-row-fluid .bp0-col-1-0,.CSPvNext .margin-row-fluid .bp0-col-2-0,.CSPvNext .margin-row-fluid .bp0-col-3-0,.CSPvNext .margin-row-fluid .bp0-col-4-0,.CSPvNext .margin-row-fluid .bp0-col-5-0,.CSPvNext .margin-row-fluid .bp0-col-6-0,.CSPvNext .margin-row-fluid .bp0-col-7-0,.CSPvNext .margin-row-fluid .bp0-col-8-0,.CSPvNext .margin-row-fluid .bp0-col-9-0,.CSPvNext .margin-row-fluid .bp0-col-10-0,.CSPvNext .margin-row-fluid .bp0-col-11-0,.CSPvNext .margin-row-fluid .bp0-col-12-0{display:none}.CSPvNext .margin-row-fluid>.bp0-col-1,.CSPvNext .margin-row-fluid>.bp0-col-1-1,.CSPvNext .margin-row-fluid>.bp0-col-2-2,.CSPvNext .margin-row-fluid>.bp0-col-3-3,.CSPvNext .margin-row-fluid>.bp0-col-4-4,.CSPvNext .margin-row-fluid>.bp0-col-5-5,.CSPvNext .margin-row-fluid>.bp0-col-6-6,.CSPvNext .margin-row-fluid>.bp0-col-7-7,.CSPvNext .margin-row-fluid>.bp0-col-8-8,.CSPvNext .margin-row-fluid>.bp0-col-9-9,.CSPvNext .margin-row-fluid>.bp0-col-10-10,.CSPvNext .margin-row-fluid>.bp0-col-11-11,.CSPvNext .margin-row-fluid>.bp0-col-12-12{width:96%}.CSPvNext .margin-row-fluid>.bp0-col-2,.CSPvNext .margin-row-fluid>.bp0-col-2-1,.CSPvNext .margin-row-fluid>.bp0-col-4-2,.CSPvNext .margin-row-fluid>.bp0-col-6-3,.CSPvNext .margin-row-fluid>.bp0-col-8-4,.CSPvNext .margin-row-fluid>.bp0-col-10-5,.CSPvNext .margin-row-fluid>.bp0-col-12-6{width:47%}.CSPvNext .margin-row-fluid>.bp0-col-3,.CSPvNext .margin-row-fluid>.bp0-col-3-1,.CSPvNext .margin-row-fluid>.bp0-col-6-2,.CSPvNext .margin-row-fluid>.bp0-col-9-3,.CSPvNext .margin-row-fluid>.bp0-col-12-4{width:30.66667%}.CSPvNext .margin-row-fluid>.bp0-col-3-2,.CSPvNext .margin-row-fluid>.bp0-col-6-4,.CSPvNext .margin-row-fluid>.bp0-col-9-6,.CSPvNext .margin-row-fluid>.bp0-col-12-8{width:63.33333%}.CSPvNext .margin-row-fluid>.bp0-col-4,.CSPvNext .margin-row-fluid>.bp0-col-4-1,.CSPvNext .margin-row-fluid>.bp0-col-8-2,.CSPvNext .margin-row-fluid>.bp0-col-12-3{width:22.5%}.CSPvNext .margin-row-fluid>.bp0-col-4-3,.CSPvNext .margin-row-fluid>.bp0-col-8-6{width:71.5%}.CSPvNext .margin-row-fluid>.bp0-col-5,.CSPvNext .margin-row-fluid>.bp0-col-5-1,.CSPvNext .margin-row-fluid>.bp0-col-10-2{width:17.6%}.CSPvNext .margin-row-fluid>.bp0-col-5-2{width:37.2%}.CSPvNext .margin-row-fluid>.bp0-col-5-3{width:56.8%}.CSPvNext .margin-row-fluid>.bp0-col-5-4{width:76.4%}.CSPvNext .margin-row-fluid>.bp0-col-6,.CSPvNext .margin-row-fluid>.bp0-col-6-1,.CSPvNext .margin-row-fluid>.bp0-col-12-2{width:14.33333%}.CSPvNext .margin-row-fluid>.bp0-col-6-5{width:79.66667%}.CSPvNext .margin-row-fluid>.bp0-col-7,.CSPvNext .margin-row-fluid>.bp0-col-7-1{width:12%}.CSPvNext .margin-row-fluid>.bp0-col-7-2{width:26%}.CSPvNext .margin-row-fluid>.bp0-col-7-3{width:40%}.CSPvNext .margin-row-fluid>.bp0-col-7-4{width:54%}.CSPvNext .margin-row-fluid>.bp0-col-7-5{width:68%}.CSPvNext .margin-row-fluid>.bp0-col-7-6{width:82%}.CSPvNext .margin-row-fluid>.bp0-col-8,.CSPvNext .margin-row-fluid>.bp0-col-8-1{width:10.25%}.CSPvNext .margin-row-fluid>.bp0-col-8-3{width:34.75%}.CSPvNext .margin-row-fluid>.bp0-col-8-5{width:59.25%}.CSPvNext .margin-row-fluid>.bp0-col-8-7{width:83.75%}.CSPvNext .margin-row-fluid>.bp0-col-9,.CSPvNext .margin-row-fluid>.bp0-col-9-1{width:8.88889%}.CSPvNext .margin-row-fluid>.bp0-col-9-2{width:19.77778%}.CSPvNext .margin-row-fluid>.bp0-col-9-4{width:41.55556%}.CSPvNext .margin-row-fluid>.bp0-col-9-5{width:52.44444%}.CSPvNext .margin-row-fluid>.bp0-col-9-7{width:74.22222%}.CSPvNext .margin-row-fluid>.bp0-col-9-8{width:85.11111%}.CSPvNext .margin-row-fluid>.bp0-col-10,.CSPvNext .margin-row-fluid>.bp0-col-10-1{width:7.8%}.CSPvNext .margin-row-fluid>.bp0-col-10-3{width:27.4%}.CSPvNext .margin-row-fluid>.bp0-col-10-4{width:37.2%}.CSPvNext .margin-row-fluid>.bp0-col-10-6{width:56.8%}.CSPvNext .margin-row-fluid>.bp0-col-10-7{width:66.6%}.CSPvNext .margin-row-fluid>.bp0-col-10-8{width:76.4%}.CSPvNext .margin-row-fluid>.bp0-col-10-9{width:86.2%}.CSPvNext .margin-row-fluid>.bp0-col-11,.CSPvNext .margin-row-fluid>.bp0-col-11-1{width:6.90909%}.CSPvNext .margin-row-fluid>.bp0-col-11-2{width:15.81818%}.CSPvNext .margin-row-fluid>.bp0-col-11-3{width:24.72727%}.CSPvNext .margin-row-fluid>.bp0-col-11-4{width:33.63636%}.CSPvNext .margin-row-fluid>.bp0-col-11-5{width:42.54545%}.CSPvNext .margin-row-fluid>.bp0-col-11-6{width:51.45455%}.CSPvNext .margin-row-fluid>.bp0-col-11-7{width:60.36364%}.CSPvNext .margin-row-fluid>.bp0-col-11-8{width:69.27273%}.CSPvNext .margin-row-fluid>.bp0-col-11-9{width:78.18182%}.CSPvNext .margin-row-fluid>.bp0-col-11-10{width:87.09091%}.CSPvNext .margin-row-fluid>.bp0-col-12,.CSPvNext .margin-row-fluid>.bp0-col-12-1{width:6.16667%}.CSPvNext .margin-row-fluid>.bp0-col-12-5{width:38.83333%}.CSPvNext .margin-row-fluid>.bp0-col-12-7{width:55.16667%}.CSPvNext .margin-row-fluid>.bp0-col-12-9{width:71.5%}.CSPvNext .margin-row-fluid>.bp0-col-12-10{width:79.66667%}.CSPvNext .margin-row-fluid>.bp0-col-12-11{width:87.83333%}}@media screen and (min-width:540px) and (max-width:679px){.CSPvNext .margin-row-fluid .span{width:96%}.CSPvNext .margin-row-fluid .bp1-clear{clear:both}.CSPvNext .margin-row-fluid [class*="bp1-col"]{display:block}.CSPvNext .margin-row-fluid>.bp1-clear,.CSPvNext .margin-row-fluid>.bp1-col-1-1{margin-left:2%}.CSPvNext .margin-row-fluid .bp1-col-1-0,.CSPvNext .margin-row-fluid .bp1-col-2-0,.CSPvNext .margin-row-fluid .bp1-col-3-0,.CSPvNext .margin-row-fluid .bp1-col-4-0,.CSPvNext .margin-row-fluid .bp1-col-5-0,.CSPvNext .margin-row-fluid .bp1-col-6-0,.CSPvNext .margin-row-fluid .bp1-col-7-0,.CSPvNext .margin-row-fluid .bp1-col-8-0,.CSPvNext .margin-row-fluid .bp1-col-9-0,.CSPvNext .margin-row-fluid .bp1-col-10-0,.CSPvNext .margin-row-fluid .bp1-col-11-0,.CSPvNext .margin-row-fluid .bp1-col-12-0{display:none}.CSPvNext .margin-row-fluid>.bp1-col-1,.CSPvNext .margin-row-fluid>.bp1-col-1-1,.CSPvNext .margin-row-fluid>.bp1-col-2-2,.CSPvNext .margin-row-fluid>.bp1-col-3-3,.CSPvNext .margin-row-fluid>.bp1-col-4-4,.CSPvNext .margin-row-fluid>.bp1-col-5-5,.CSPvNext .margin-row-fluid>.bp1-col-6-6,.CSPvNext .margin-row-fluid>.bp1-col-7-7,.CSPvNext .margin-row-fluid>.bp1-col-8-8,.CSPvNext .margin-row-fluid>.bp1-col-9-9,.CSPvNext .margin-row-fluid>.bp1-col-10-10,.CSPvNext .margin-row-fluid>.bp1-col-11-11,.CSPvNext .margin-row-fluid>.bp1-col-12-12{width:96%}.CSPvNext .margin-row-fluid>.bp1-col-2,.CSPvNext .margin-row-fluid>.bp1-col-2-1,.CSPvNext .margin-row-fluid>.bp1-col-4-2,.CSPvNext .margin-row-fluid>.bp1-col-6-3,.CSPvNext .margin-row-fluid>.bp1-col-8-4,.CSPvNext .margin-row-fluid>.bp1-col-10-5,.CSPvNext .margin-row-fluid>.bp1-col-12-6{width:47%}.CSPvNext .margin-row-fluid>.bp1-col-3,.CSPvNext .margin-row-fluid>.bp1-col-3-1,.CSPvNext .margin-row-fluid>.bp1-col-6-2,.CSPvNext .margin-row-fluid>.bp1-col-9-3,.CSPvNext .margin-row-fluid>.bp1-col-12-4{width:30.66667%}.CSPvNext .margin-row-fluid>.bp1-col-3-2,.CSPvNext .margin-row-fluid>.bp1-col-6-4,.CSPvNext .margin-row-fluid>.bp1-col-9-6,.CSPvNext .margin-row-fluid>.bp1-col-12-8{width:63.33333%}.CSPvNext .margin-row-fluid>.bp1-col-4,.CSPvNext .margin-row-fluid>.bp1-col-4-1,.CSPvNext .margin-row-fluid>.bp1-col-8-2,.CSPvNext .margin-row-fluid>.bp1-col-12-3{width:22.5%}.CSPvNext .margin-row-fluid>.bp1-col-4-3,.CSPvNext .margin-row-fluid>.bp1-col-8-6{width:71.5%}.CSPvNext .margin-row-fluid>.bp1-col-5,.CSPvNext .margin-row-fluid>.bp1-col-5-1,.CSPvNext .margin-row-fluid>.bp1-col-10-2{width:17.6%}.CSPvNext .margin-row-fluid>.bp1-col-5-2{width:37.2%}.CSPvNext .margin-row-fluid>.bp1-col-5-3{width:56.8%}.CSPvNext .margin-row-fluid>.bp1-col-5-4{width:76.4%}.CSPvNext .margin-row-fluid>.bp1-col-6,.CSPvNext .margin-row-fluid>.bp1-col-6-1,.CSPvNext .margin-row-fluid>.bp1-col-12-2{width:14.33333%}.CSPvNext .margin-row-fluid>.bp1-col-6-5{width:79.66667%}.CSPvNext .margin-row-fluid>.bp1-col-7,.CSPvNext .margin-row-fluid>.bp1-col-7-1{width:12%}.CSPvNext .margin-row-fluid>.bp1-col-7-2{width:26%}.CSPvNext .margin-row-fluid>.bp1-col-7-3{width:40%}.CSPvNext .margin-row-fluid>.bp1-col-7-4{width:54%}.CSPvNext .margin-row-fluid>.bp1-col-7-5{width:68%}.CSPvNext .margin-row-fluid>.bp1-col-7-6{width:82%}.CSPvNext .margin-row-fluid>.bp1-col-8,.CSPvNext .margin-row-fluid>.bp1-col-8-1{width:10.25%}.CSPvNext .margin-row-fluid>.bp1-col-8-3{width:34.75%}.CSPvNext .margin-row-fluid>.bp1-col-8-5{width:59.25%}.CSPvNext .margin-row-fluid>.bp1-col-8-7{width:83.75%}.CSPvNext .margin-row-fluid>.bp1-col-9,.CSPvNext .margin-row-fluid>.bp1-col-9-1{width:8.88889%}.CSPvNext .margin-row-fluid>.bp1-col-9-2{width:19.77778%}.CSPvNext .margin-row-fluid>.bp1-col-9-4{width:41.55556%}.CSPvNext .margin-row-fluid>.bp1-col-9-5{width:52.44444%}.CSPvNext .margin-row-fluid>.bp1-col-9-7{width:74.22222%}.CSPvNext .margin-row-fluid>.bp1-col-9-8{width:85.11111%}.CSPvNext .margin-row-fluid>.bp1-col-10,.CSPvNext .margin-row-fluid>.bp1-col-10-1{width:7.8%}.CSPvNext .margin-row-fluid>.bp1-col-10-3{width:27.4%}.CSPvNext .margin-row-fluid>.bp1-col-10-4{width:37.2%}.CSPvNext .margin-row-fluid>.bp1-col-10-6{width:56.8%}.CSPvNext .margin-row-fluid>.bp1-col-10-7{width:66.6%}.CSPvNext .margin-row-fluid>.bp1-col-10-8{width:76.4%}.CSPvNext .margin-row-fluid>.bp1-col-10-9{width:86.2%}.CSPvNext .margin-row-fluid>.bp1-col-11,.CSPvNext .margin-row-fluid>.bp1-col-11-1{width:6.90909%}.CSPvNext .margin-row-fluid>.bp1-col-11-2{width:15.81818%}.CSPvNext .margin-row-fluid>.bp1-col-11-3{width:24.72727%}.CSPvNext .margin-row-fluid>.bp1-col-11-4{width:33.63636%}.CSPvNext .margin-row-fluid>.bp1-col-11-5{width:42.54545%}.CSPvNext .margin-row-fluid>.bp1-col-11-6{width:51.45455%}.CSPvNext .margin-row-fluid>.bp1-col-11-7{width:60.36364%}.CSPvNext .margin-row-fluid>.bp1-col-11-8{width:69.27273%}.CSPvNext .margin-row-fluid>.bp1-col-11-9{width:78.18182%}.CSPvNext .margin-row-fluid>.bp1-col-11-10{width:87.09091%}.CSPvNext .margin-row-fluid>.bp1-col-12,.CSPvNext .margin-row-fluid>.bp1-col-12-1{width:6.16667%}.CSPvNext .margin-row-fluid>.bp1-col-12-5{width:38.83333%}.CSPvNext .margin-row-fluid>.bp1-col-12-7{width:55.16667%}.CSPvNext .margin-row-fluid>.bp1-col-12-9{width:71.5%}.CSPvNext .margin-row-fluid>.bp1-col-12-10{width:79.66667%}.CSPvNext .margin-row-fluid>.bp1-col-12-11{width:87.83333%}}@media screen and (min-width:680px) and (max-width:899px){.CSPvNext .margin-row-fluid .span{width:96%}.CSPvNext .margin-row-fluid>.span{width:96%}.CSPvNext .margin-row-fluid .bp2-clear{clear:both}.CSPvNext .margin-row-fluid [class*="bp2-col"]{display:block}.CSPvNext .margin-row-fluid>.bp2-clear,.CSPvNext .margin-row-fluid>.bp2-col-1-1{margin-left:2%}.CSPvNext .margin-row-fluid .bp2-col-1-0,.CSPvNext .margin-row-fluid .bp2-col-2-0,.CSPvNext .margin-row-fluid .bp2-col-3-0,.CSPvNext .margin-row-fluid .bp2-col-4-0,.CSPvNext .margin-row-fluid .bp2-col-5-0,.CSPvNext .margin-row-fluid .bp2-col-6-0,.CSPvNext .margin-row-fluid .bp2-col-7-0,.CSPvNext .margin-row-fluid .bp2-col-8-0,.CSPvNext .margin-row-fluid .bp2-col-9-0,.CSPvNext .margin-row-fluid .bp2-col-10-0,.CSPvNext .margin-row-fluid .bp2-col-11-0,.CSPvNext .margin-row-fluid .bp2-col-12-0{display:none}.CSPvNext .margin-row-fluid>.bp2-col-1,.CSPvNext .margin-row-fluid>.bp2-col-1-1,.CSPvNext .margin-row-fluid>.bp2-col-2-2,.CSPvNext .margin-row-fluid>.bp2-col-3-3,.CSPvNext .margin-row-fluid>.bp2-col-4-4,.CSPvNext .margin-row-fluid>.bp2-col-5-5,.CSPvNext .margin-row-fluid>.bp2-col-6-6,.CSPvNext .margin-row-fluid>.bp2-col-7-7,.CSPvNext .margin-row-fluid>.bp2-col-8-8,.CSPvNext .margin-row-fluid>.bp2-col-9-9,.CSPvNext .margin-row-fluid>.bp2-col-10-10,.CSPvNext .margin-row-fluid>.bp2-col-11-11,.CSPvNext .margin-row-fluid>.bp2-col-12-12{width:96%}.CSPvNext .margin-row-fluid>.bp2-col-2,.CSPvNext .margin-row-fluid>.bp2-col-2-1,.CSPvNext .margin-row-fluid>.bp2-col-4-2,.CSPvNext .margin-row-fluid>.bp2-col-6-3,.CSPvNext .margin-row-fluid>.bp2-col-8-4,.CSPvNext .margin-row-fluid>.bp2-col-10-5,.CSPvNext .margin-row-fluid>.bp2-col-12-6{width:47%}.CSPvNext .margin-row-fluid>.bp2-col-3,.CSPvNext .margin-row-fluid>.bp2-col-3-1,.CSPvNext .margin-row-fluid>.bp2-col-6-2,.CSPvNext .margin-row-fluid>.bp2-col-9-3,.CSPvNext .margin-row-fluid>.bp2-col-12-4{width:30.66667%}.CSPvNext .margin-row-fluid>.bp2-col-3-2,.CSPvNext .margin-row-fluid>.bp2-col-6-4,.CSPvNext .margin-row-fluid>.bp2-col-9-6,.CSPvNext .margin-row-fluid>.bp2-col-12-8{width:63.33333%}.CSPvNext .margin-row-fluid>.bp2-col-4,.CSPvNext .margin-row-fluid>.bp2-col-4-1,.CSPvNext .margin-row-fluid>.bp2-col-8-2,.CSPvNext .margin-row-fluid>.bp2-col-12-3{width:22.5%}.CSPvNext .margin-row-fluid>.bp2-col-4-3,.CSPvNext .margin-row-fluid>.bp2-col-8-6{width:71.5%}.CSPvNext .margin-row-fluid>.bp2-col-5,.CSPvNext .margin-row-fluid>.bp2-col-5-1,.CSPvNext .margin-row-fluid>.bp2-col-10-2{width:17.6%}.CSPvNext .margin-row-fluid>.bp2-col-5-2{width:37.2%}.CSPvNext .margin-row-fluid>.bp2-col-5-3{width:56.8%}.CSPvNext .margin-row-fluid>.bp2-col-5-4{width:76.4%}.CSPvNext .margin-row-fluid>.bp2-col-6,.CSPvNext .margin-row-fluid>.bp2-col-6-1,.CSPvNext .margin-row-fluid>.bp2-col-12-2{width:14.33333%}.CSPvNext .margin-row-fluid>.bp2-col-6-5{width:79.66667%}.CSPvNext .margin-row-fluid>.bp2-col-7,.CSPvNext .margin-row-fluid>.bp2-col-7-1{width:12%}.CSPvNext .margin-row-fluid>.bp2-col-7-2{width:26%}.CSPvNext .margin-row-fluid>.bp2-col-7-3{width:40%}.CSPvNext .margin-row-fluid>.bp2-col-7-4{width:54%}.CSPvNext .margin-row-fluid>.bp2-col-7-5{width:68%}.CSPvNext .margin-row-fluid>.bp2-col-7-6{width:82%}.CSPvNext .margin-row-fluid>.bp2-col-8,.CSPvNext .margin-row-fluid>.bp2-col-8-1{width:10.25%}.CSPvNext .margin-row-fluid>.bp2-col-8-3{width:34.75%}.CSPvNext .margin-row-fluid>.bp2-col-8-5{width:59.25%}.CSPvNext .margin-row-fluid>.bp2-col-8-7{width:83.75%}.CSPvNext .margin-row-fluid>.bp2-col-9,.CSPvNext .margin-row-fluid>.bp2-col-9-1{width:8.88889%}.CSPvNext .margin-row-fluid>.bp2-col-9-2{width:19.77778%}.CSPvNext .margin-row-fluid>.bp2-col-9-4{width:41.55556%}.CSPvNext .margin-row-fluid>.bp2-col-9-5{width:52.44444%}.CSPvNext .margin-row-fluid>.bp2-col-9-7{width:74.22222%}.CSPvNext .margin-row-fluid>.bp2-col-9-8{width:85.11111%}.CSPvNext .margin-row-fluid>.bp2-col-10,.CSPvNext .margin-row-fluid>.bp2-col-10-1{width:7.8%}.CSPvNext .margin-row-fluid>.bp2-col-10-3{width:27.4%}.CSPvNext .margin-row-fluid>.bp2-col-10-4{width:37.2%}.CSPvNext .margin-row-fluid>.bp2-col-10-6{width:56.8%}.CSPvNext .margin-row-fluid>.bp2-col-10-7{width:66.6%}.CSPvNext .margin-row-fluid>.bp2-col-10-8{width:76.4%}.CSPvNext .margin-row-fluid>.bp2-col-10-9{width:86.2%}.CSPvNext .margin-row-fluid>.bp2-col-11,.CSPvNext .margin-row-fluid>.bp2-col-11-1{width:6.90909%}.CSPvNext .margin-row-fluid>.bp2-col-11-2{width:15.81818%}.CSPvNext .margin-row-fluid>.bp2-col-11-3{width:24.72727%}.CSPvNext .margin-row-fluid>.bp2-col-11-4{width:33.63636%}.CSPvNext .margin-row-fluid>.bp2-col-11-5{width:42.54545%}.CSPvNext .margin-row-fluid>.bp2-col-11-6{width:51.45455%}.CSPvNext .margin-row-fluid>.bp2-col-11-7{width:60.36364%}.CSPvNext .margin-row-fluid>.bp2-col-11-8{width:69.27273%}.CSPvNext .margin-row-fluid>.bp2-col-11-9{width:78.18182%}.CSPvNext .margin-row-fluid>.bp2-col-11-10{width:87.09091%}.CSPvNext .margin-row-fluid>.bp2-col-12,.CSPvNext .margin-row-fluid>.bp2-col-12-1{width:6.16667%}.CSPvNext .margin-row-fluid>.bp2-col-12-5{width:38.83333%}.CSPvNext .margin-row-fluid>.bp2-col-12-7{width:55.16667%}.CSPvNext .margin-row-fluid>.bp2-col-12-9{width:71.5%}.CSPvNext .margin-row-fluid>.bp2-col-12-10{width:79.66667%}.CSPvNext .margin-row-fluid>.bp2-col-12-11{width:87.83333%}}.CMSvNextComp,.CMSvNextComp div,.CMSvNextComp h1,.CMSvNextComp h2,.CMSvNextComp h3,.CMSvNextComp h4,.CMSvNextComp h5,.CMSvNextComp h6,.CMSvNextComp li,.CMSvNextComp ol,.CMSvNextComp p,.CMSvNextComp ul{margin:0;padding:0}.CMSvNextComp a{cursor:pointer}.CMSvNextComp a:link,.CMSvNextComp a:visited{text-decoration:none}.CMSvNextComp a:hover,.CMSvNextComp a:active{text-decoration:underline}.CMSvNextComp h1,.CMSvNextComp h2,.CMSvNextComp h3,.CMSvNextComp h4,.CMSvNextComp h5,.CMSvNextComp h6{font-weight:normal;font-size:100%}.CMSvNextComp img{border:none}.CMSvNextComp ol,.CMSvNextComp ul{list-style-type:none}.CMSvNextComp .cssClear{clear:both;height:0;margin:0;padding:0;_line-height:0}.CMSvNextComp .png-img{position:relative;overflow:hidden}.CMSvNextComp .png-img span{position:absolute;top:-9999px}.CMSvNextComp .png-img div{background-position:0 center;background-repeat:no-repeat}.CMSvNextComp .png-img .bg-img{display:block;_display:none}.CMSvNextComp .png-img .filter-img{display:none;_display:block}.CMSvNextComp .mscom-left{float:left}.CMSvNextComp .mscom-right{float:right}.CMSvNextComp .mscom-textalign-left{text-align:left}.CMSvNextComp .mscom-textalign-right{text-align:right}.CMSvNextComp .mscom-fullwidth{width:100% !important}.CMSvNextComp .mscom-remove-margin-left{margin-left:0 !important}.CMSvNextComp .mscom-hide{display:none !important}.CMSvNextComp .mscom-show{display:block !important}.CMSvNextComp .mscom-maxwidth{margin:0 auto;max-width:1600px}.CMSvNextComp .mscom-container-maxwidth{margin:0 auto;max-width:1180px}.CMSvNextComp img,.CMSvNextComp video{height:auto;max-width:100%}@media screen and (max-width:539px){.CMSvNextComp .mscom-fullwidth-view-1{width:100% !important;margin:0 !important}}.icon-left,.icon-right,.icon-menu,.icon-search,.icon-plus,.icon-minus,.icon-circledown,.icon-globe,.icon-up{font-family:wf_icons_normal}.fontface .icon-left:after{content:'â†'}.fontface .icon-right:after{content:'â†’'}.fontface .icon-menu:after{content:'â‰¡'}.fontface .icon-search:after{content:'âŒ•'}.fontface .icon-plus:after{content:'+'}.fontface .icon-minus:after{content:'-'}.fontface .icon-circledown:after{content:'âˆ¨'}.fontface .icon-globe:after{content:'â—'}.fontface .icon-close:after{content:'Ã—'}.fontface .icon-up:after{content:'â†‘'}.nofontface .icon-left,.nofontface .icon-right,.nofontface .icon-menu,.nofontface .icon-search,.nofontface .icon-up,.nofontface .icon-globe{background-position:center center;background-repeat:no-repeat;display:inline-block}.lt-ie8 .icon-left,.mscom-nonjs .icon-left,.nofontface .icon-left{background-image:url("//c.s-microsoft.com/en-us/CMSImages/left-arrow-black.png?version=4C7F88BB-D160-A52D-9421-EEA8CA80B11B");height:25px;width:25px}.lt-ie8 .icon-right,.mscom-nonjs .icon-right,.nofontface .icon-right{background-image:url("//c.s-microsoft.com/en-us/CMSImages/left-arrow-black.png?version=4C7F88BB-D160-A52D-9421-EEA8CA80B11B");height:25px;width:25px}.lt-ie8 .icon-left,.mscom-nonjs .light-foreground .icon-left,.nofontface .light-foreground .icon-left{background-image:url("//c.s-microsoft.com/en-us/CMSImages/left-arrow-white.png?version=0044E65E-E2B3-A2CC-644F-5F6463A034C7");height:25px;width:25px}.lt-ie8 .light-foreground .icon-right,.mscom-nonjs .light-foreground .icon-right,.nofontface .light-foreground .icon-right{background-image:url("//c.s-microsoft.com/en-us/CMSImages/left-arrow-white.png?version=0044E65E-E2B3-A2CC-644F-5F6463A034C7");height:25px;width:25px}.light-foreground .icon-left,.light-foreground .icon-right{color:#fff}.lt-ie8 .icon-menu,.mscom-nonjs .icon-menu,.nofontface .icon-menu{background-image:url("//c.s-microsoft.com/en-us/CMSImages/list-blue.png?version=E0DC3EDD-4755-4B13-320F-0EB005E772D3");display:inline-block;height:16px;width:16px}.lt-ie8 .icon-search,.mscom-nonjs .icon-search,.nofontface .icon-search{background-image:url("//c.s-microsoft.com/en-us/CMSImages/search-button-blue.png?version=158C949C-D3DF-0BB9-E8F6-25304016AA41");display:inline-block;height:16px;width:16px}.lt-ie8 .icon-circledown,.mscom-nonjs .icon-circledown,.nofontface .icon-circledown{background-image:url("//c.s-microsoft.com/en-us/CMSImages/dropdown-arrow-white.png?version=86BBA961-D367-DE08-E486-F924392E0146");height:6px;width:8px}.lt-ie8 .icon-globe,.mscom-nonjs .icon-globe,.nofontface .icon-globe{background-image:url("//c.s-microsoft.com/en-us/CMSImages/globe-black.png?version=C1CB0753-5FBF-150A-58CB-65740B918D52");height:24px;width:24px}.lt-ie8 .icon-up,.mscom-nonjs .icon-up,.nofontface .icon-up{background-image:url("//c.s-microsoft.com/en-us/CMSImages/MSCOM_UpArrow_22x22_505050.png?version=D9A0C4B9-FDA7-0BA5-10B8-9252C49F6C9C");height:22px;width:22px}.mscom-styles-bold{font-weight:bold}.mscom-styles-italic{font-style:italic}.mscom-alert .mscom-alertitem{background:none repeat scroll 0 0 #1570a6;margin:0 auto}.mscom-alert .mscom-alertitem,.mscom-alert .mscom-alert-description a{color:#fff}.mscom-alert .mscom-alert-description{float:left}.mscom-alert .mscom-alert-link{float:right}.mscom-alert .center .mscom-alert-description{float:none;text-align:center}.mscom-alert .mscom-alert-red{background:none repeat scroll 0 0 #ba141a}.mscom-alert .mscom-alertitem:before,.mscom-alert .mscom-alertitem:after{content:"";display:table;line-height:0;clear:both;float:none}.mscom-alert .mscom-alert-text{clear:none;color:#fff;margin-left:50px;margin-right:15px}.mscom-alert .mscom-alert-close{vertical-align:middle;*padding-top:5px}.lt-ie9 .mscom-alert{min-width:1180px}.lt-ie9 .mscom-alert .mscom-alert-text{float:left}.lt-ie9 .mscom-alert .mscom-alert-close{float:left;width:16px}.CMSvNextComp div.mscom-locale-flyout{display:none;margin:0 auto;max-width:1180px}.mscom-footer{background-color:#eee}.mscom-footer .mscom-footer-row-1{padding-top:2.5%}.mscom-footer .mscom-footer-row-2{padding-top:1em}.mscom-footer .mscom-footer-row-3{padding-bottom:.85%}.mscom-footer a{color:#1570a6;font-size:.9em}.mscom-footer a:focus,.mscom-footer a:hover{color:#083047}.mscom-footer .heading{font-size:1em;font-weight:normal;margin-bottom:.65em}.mscom-footer ul{margin-top:1.5em}.mscom-footer li{line-height:1.25;display:block;margin:0 0 .25em;font-size:1em}.mscom-footer .mscom-footer-productlist li{margin-bottom:.75em}.mscom-footer .mscom-footer-productlist a{color:#1a1a1a;font-size:1em}.mscom-footer .mscom-footer-productlist img{display:inline-block;height:26px;width:26px;margin-bottom:-.45em;margin-right:10px}.mscom-footer .mscom-footer-localepicker{margin-bottom:1.5em}.mscom-footer .mscom-footer-localepicker span.icon-globe{font-size:1.5em;line-height:1.5em;float:left;margin-right:10px;text-decoration:none;position:relative;top:-.22em}.mscom-footer .mscom-footer-defaultlink li{display:inline-block;*display:inline;margin-right:1.5em}.mscom-footer .mscom-footer-defaultlink li a{*display:inline}.mscom-footer .mscom-footer-defaultlink .heading{font-size:.813em}.mscom-footer .mscom-footer-productlist{margin-bottom:1em}.mscom-footer .mscom-footer-mslogo img{width:85px;height:16px}.mscom-footer .mscom-footer-defaultlink ul:first-child{margin-top:0}@media screen and (min-width:540px){.mscom-footer .mscom-footer-defaultlink li{margin-right:2%}.mscom-footer ul:first-child{margin-top:0}}@media screen and (max-width:900px){.mscom-footer .mscom-footer-row-2{padding-bottom:.7em}}@media screen and (min-width:900px){.mscom-footer .mscom-footer-mslogo,.mscom-footer .mscom-footer-defaultlink{text-align:right}.mscom-footer .mscom-footer-localepicker{margin-bottom:0}.mscom-footer .mscom-footer-productlist{margin-bottom:0}.mscom-footer .mscom-footer-defaultlink li{margin-left:2%;margin-right:0}.mscom-footer .mscom-footer-defaultlink li:first-child{margin-left:0}}.lt-ie9 .mscom-footer{min-width:1180px}.lt-ie9 .mscom-footer .mscom-footer-mslogo,.lt-ie9 .mscom-footer .mscom-footer-defaultlink{text-align:right}.lt-ie9 .mscom-footer .mscom-footer-defaultlink li{margin-left:2%;margin-right:0}.lt-ie9 .mscom-footer .mscom-footer-defaultlink li:first-child{margin-left:0}.lt-ie8 .mscom-footer .mscom-footer-localepicker span.icon-globe{display:static}.grid-container{width:96%;margin-left:auto;margin-right:auto;max-width:1180px;*zoom:1;background-repeat:no-repeat;background-position:center center}.row-padded{padding-top:1.5em;padding-bottom:1.5em}.row-padded-top{padding-top:1.5em}.row-padded-bottom{padding-bottom:1.5em}.border-top{border-top:1px solid #eee}.border-bottom{border-bottom:1px solid #eee}.row-cool-gray-3{background:#d2d2d2}.row-grey{background:#eee}.row-blue{background:#1570a6}.row-blue,.row-blue h1,.row-blue h2,.row-blue h3,.row-blue h4,.row-blue a,.row-blue a:hover,.row-blue a:focus{color:#fff}@media screen and (min-width:540px){.row-padded{padding-top:2.5%;padding-bottom:2.5%}.row-padded-top{padding-top:2.5%}.row-padded-bottom{padding-bottom:2.5%}}body.lt-ie9{min-width:1180px}.lt-ie9 .grid-container .col-flow-opposite{float:right}.lt-ie9 .row-padded{padding-top:3em;padding-bottom:3em}.lt-ie9 .row-padded-top{padding-top:3em}.lt-ie9 .row-padded-bottom{padding-bottom:3em}html[dir="rtl"].iem7,html[dir="rtl"].iem9{direction:ltr}html[dir="rtl"].iem7 form,html[dir="rtl"].iem9 form{direction:rtl}html[dir="rtl"].iem7 .grid-row .grid-unit,html[dir="rtl"].iem7 .grid-row .col-flow-opposite,html[dir="rtl"].iem7 .grid-row .col-flow-opposite,html[dir="rtl"].iem7 .grid-container .col-flow-opposite{float:none}html[dir="rtl"].iem7 .grid-row .grid-unit{clear:both}@media screen and (min-width:900px){.row--padded-right-1-4 .grid-row,.row--padded-right-1-4.grid-row{padding-right:24.5%;width:74.5%}.row--padded-left-1-4 .grid-row,.row--padded-left-1-4.grid-row{padding-left:24.5%;width:74.5%}.row--padded-right-1-3 .grid-row,.row--padded-right-1-3.grid-row{padding-right:34%;width:66%}.row--padded-left-1-3 .grid-row,.row--padded-left-1-3.grid-row{padding-left:34%;width:66%}.row--padded-right-1-2 .grid-row,.row--padded-right-1-2.grid-row{padding-right:51%;width:49%}.row--padded-left-1-2 .grid-row,.row--padded-left-1-2.grid-row{padding-left:51%;width:49%}.row--padded-right-2-3 .grid-row,.row--padded-right-2-3.grid-row{padding-right:68%;width:32%}.row--padded-left-2-3 .grid-row,.row--padded-left-2-3.grid-row{padding-left:68%;width:32%}.row--padded-right-3-4 .grid-row,.row--padded-right-3-4.grid-row{padding-right:76.5%;width:23.5%}.row--padded-left-3-4 .grid-row,.row--padded-left-3-4.grid-row{padding-left:76.5%;width:23.5%}}.background--right-top .grid-container{background-repeat:no-repeat;background-position:right top}.background--right-bottom .grid-container{background-repeat:no-repeat;background-position:right bottom}.background--center-top .grid-container{background-repeat:no-repeat;background-position:center top}.background--center-bottom .grid-container{background-repeat:no-repeat;background-position:center bottom}.background--left-bottom .grid-container{background-repeat:no-repeat;background-position:left bottom}.background--left-top .grid-container{background-repeat:no-repeat;background-position:left top}@media screen and (min-width:0) and (max-width:899px){.background--hide-small .grid-container{background-image:none !important}}.hero{max-width:1600px;margin:0 auto;position:relative;overflow:hidden}.hero .slides{margin:0;padding:0;width:100%;display:block}.hero .media{display:block;line-height:0}.hero .media>a{display:block}.hero .text{overflow:hidden}.hero .nowrap{white-space:nowrap}.media{background-color:#f0f0f0;background-image:url("/CMSImages/progressIndicator40x40.gif?version=22bf30a9-5751-70e3-2c7d-7173410d2ed0");background-repeat:no-repeat;background-position:center center;line-height:0;overflow:hidden}.media img,.media video{max-width:100%}.hero.hero-default-unmasked .media img,.hero.hero-default-unmasked .media video{width:100%;max-width:100%;margin:0 !important}@media screen and (min-width:540px){.hero .media img,.hero .media video{width:100%;max-width:100%;margin:0}}@media screen and (min-width:1025px){.hero .media img,.hero .media video{margin-top:-1.875%}}@media screen and (min-width:1025px) and (min-height:900px){.hero .media img,.hero .media video{margin:0}}.hero.hero-med .media img,.hero.hero-med .media video{width:100%;max-width:100%;margin:0 !important}.hero.hero-full .media img,.hero.hero-full .media video{width:100%;max-width:100%;margin:0 !important}@media screen and (min-width:680px){.hero-video .box{-webkit-transition:opacity .2s ease;-moz-transition:opacity .2s ease;-o-transition:opacity .2s ease;-ms-transition:opacity .2s ease;transition:opacity .2s ease}.hero-video.playing .box{opacity:0}.hero-video.playing:hover .hoverable .box,.hero-video.playing a:focus .hoverable .box{opacity:1}}.slideshow-hero .navigation,.slideshow-hero .prev-next{cursor:pointer;position:absolute;width:100%}.slideshow-hero .prev-next .prev,.slideshow-hero .prev-next .next{width:0 !important;transition:all .5s}.slideshow-hero .prev-next.show .prev,.slideshow-hero .prev-next.show .next{width:30px !important}.slideshow-hero .navigation .container,.slideshow-hero .prev-next .container{padding:0 1%}.mscom-nonjs .slideshow-hero .navigation,.mscom-nonjs .slideshow-hero .prev-next{display:none}.slideshow-hero .navigation{display:none;bottom:1em;right:1.15em;text-align:right;z-index:960;pointer-events:none}.slideshow-hero .navigation a{color:#fff;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;font-size:2.15em;margin:0 .075em;position:relative;text-align:center;text-decoration:none;text-shadow:0 0 4px #999;text-shadow:0 0 4px rgba(0,0,0,.15);pointer-events:auto}.hp-hero-nav-gray .slideshow-hero .navigation a{color:#eee}.hp-hero-nav-dark-gray .slideshow-hero .navigation a{color:#ddd}.slideshow-hero .navigation a.active{color:#1570a6}.slideshow-hero .prev-next{bottom:5.25em;z-index:970}.slideshow-hero button{padding:0;height:2em;text-align:center;display:block;background:transparent;border:none;font-size:1.5em;position:absolute;color:#1a1a1a;cursor:pointer;-moz-appearance:none;-webkit-appearance:none}.slideshow-hero .prev{text-align:left;left:1%}.slideshow-hero .next{text-align:right;right:1%}ul.slides>li{position:relative;-webkit-transition:opacity 1s ease-in-out;-moz-transition:opacity 1s ease-in-out;-o-transition:opacity 1s ease-in-out;transition:opacity 1s ease-in-out;z-index:1}.box .box-img img{margin-bottom:.25em;max-height:2.5em;width:auto}@media screen and (min-width:33.75em){.box{min-height:10em;margin-left:auto}}@media screen and (min-width:42.5em){.hero .text{position:absolute;width:100%;top:20%;pointer-events:none}.hero .text-container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:96%;max-width:1180px;margin:0 auto;text-align:left;cursor:pointer}.heroitem .text{cursor:pointer}.hero .box-right .text-container{text-align:right}.box{pointer-events:auto;text-align:left;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;font-size:.65em;width:26em;padding:1.2em 20px;min-height:0;margin-left:0}.box .box-img img{margin-bottom:1.4em;margin-top:.4em;max-height:2.1em}.box h3.box-title{line-height:1.2em;margin:0 0 2em 0}.box .box-description{padding-bottom:0}.box li.box-description{font-size:1.4em}.hero .text{top:6%}.box li.box-actions{clear:both;display:block;margin-bottom:.5em}}@media screen and (min-width:64.0625em){.box{font-size:.8em;width:23.4375em;bottom:3em;padding:1.4em 25px}.box .box-img img{max-height:1.85em}.box h3.box-title{margin:0 0 2.5em 0}.box li.box-description{font-size:1.15em}li.box-actions{right:1.4em;left:1.4em}.hero .text{top:7%}}@media screen and (min-width:64.0625em){.hero .text{top:5%}.box h3.box-title{margin-bottom:1.25em}}@media screen and (min-width:64.0625em) and (min-height:768px){.hero .text{top:6%}.box{font-size:.9em;width:21.05263em}.box li.box-description{font-size:1.1em}.box h3.box-title{margin-bottom:2em}.box .box-img img{max-height:1.6em}}.cssanimations .slideshow-hero{-webkit-animation:fadeIn;-moz-animation:fadeIn;-o-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:.1s;-moz-animation-duration:.1s;-o-animation-duration:.1s;animation-duration:.1s}@media screen and (min-width:680px){.cssanimations .slideshow-hero .box,.cssanimations .video-fade-transition .box{position:relative;-webkit-animation:slideIn;-moz-animation:slideIn;-o-animation:slideIn;animation:slideIn;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s}}.lt-ie9 .hero{zoom:1}.lt-ie9 .hero .navigation{display:block}.lt-ie9 .hero .prev-next{bottom:4.75em;display:none}.lt-ie9 .hero .media img{position:relative;left:0;max-width:100%;width:100%;margin-left:0;-ms-interpolation-mode:bicubic;margin-top:0;margin-bottom:0}.lt-ie9 .hero .text{position:absolute;clear:both;width:100%;top:3em}.lt-ie9 .hero .text{position:absolute;width:100%;top:20%}.lt-ie9 .hero .text-container{box-sizing:border-box;width:1180px;margin:0 auto;text-align:left}.lt-ie9 .hero .box-right .text-container{text-align:right}.lt-ie9 .box{text-align:left;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;font-size:.65em;width:26em;padding:1.2em 20px;min-height:0;margin-left:1%}.lt-ie9 .box .box-img img{margin-bottom:1.4em;margin-top:.4em;height:2.1em}.lt-ie9 .box h3.box-title{line-height:1.2em;margin:0 0 2em 0}.lt-ie9 .box .box-description{padding-bottom:0}.lt-ie9 .hero .text{top:6%}.lt-ie9 .box li.box-actions{clear:both;display:block;margin-bottom:.5em}.mscom-nonjs.lt-ie7 .hero .media{padding:0}.iem7 .hero .prev-next button{width:1.5em}@media screen and (min-width:42.5em){.NarrowBox .box{width:21em}.ShiftBoxRight .box{margin-left:4em;margin-top:.5em}}@media screen and (min-width:53.5em){.ShiftBoxRight .box{margin-left:8em;margin-top:3em}}@media screen and (min-width:64.0625em){.ShiftBoxRight .box{margin-left:6em;margin-top:1em}}@media screen and (min-width:70em){.ShiftBoxRight .box{margin-left:8em;margin-top:4em}}@media screen and (min-width:64.0625em) and (min-height:768px){.ShiftBoxRight .box{margin-top:1em}}@media screen and (min-width:70em) and (min-height:768px){.ShiftBoxRight .box{margin-top:2em}}@media screen and (min-width:64.0625em) and (min-height:900px){.ShiftBoxRight .box{margin-top:2em}}@media screen and (min-width:70em) and (min-height:900px){.ShiftBoxRight .box{margin-top:3.5em}}.lt-ie9 img{-ms-interpolation-mode:bicubic;zoom:1}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes IE11FixfadeIn{0%{opacity:1}100%{opacity:1}}@-webkit-keyframes slideIn{0%{left:3%;opacity:0}100%{left:0;opacity:1}}@-moz-keyframes slideIn{0%{left:3%;opacity:0}100%{left:0;opacity:1}}@-o-keyframes slideIn{0%{left:3%;opacity:0;}100%{left:0;opacity:1;}}@-webkit-keyframes slideIn{0%{left:3%;opacity:0}100%{left:0;opacity:1}}@-webkit-keyframes slideIn{0%{left:3%;opacity:0}100%{left:0;opacity:1}}.list-of-links{float:none}.list-of-links li{display:inline-block;margin:.25em 0 .5em;width:100%;line-height:1.25em}.list-of-links-sm li,.list-of-links-med li{font-size:.9em}.list-of-links-sm .heading{font-size:1em;font-weight:normal;line-height:1.25em;margin-bottom:.65em}.list-of-links-xlg .heading{margin-top:0}@media screen and (min-width:540px){.list-array li{display:inline-block;margin:0 2.5% 0 0;width:inherit}.list-of-links li:last-child{margin-right:0}.list-of-links-xlg .heading{font-size:2em}}@media screen and (min-width:900px){.list-of-links{margin-top:0}.list-of-links ul{padding:.25em 0 .5em}.list-of-links li{display:block;margin:0 0 .7em}.list-of-links-med .heading{font-size:1.625em;margin-bottom:.55em}.ja-jp .list-of-links-med .heading{font-size:1.2em}.list-of-links-lg .heading{font-size:2.375em}.list-of-links-xlg li{font-size:1.25em;font-weight:300}.list-of-links-xlg .heading{margin-bottom:.5em;font-size:2.375em}.ja-jp .list-of-links-xlg .heading{font-size:1.5em}.mac .list-of-links-xlg li{-webkit-font-smoothing:subpixel-antialiased}}.cssanimations .list-of-links-xlg{-webkit-animation:fadeIn;-moz-animation:fadeIn;-o-animation:fadeIn;animation:fadeIn;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s}.cssanimations .list-of-links-xlg li{position:relative;-webkit-animation:slideIn;-moz-animation:slideIn;-o-animation:slideIn;animation:slideIn}.list-of-links-xlg li:nth-of-type(1){-webkit-animation-duration:.225s;-moz-animation-duration:.225s;-o-animation-duration:.225s;animation-duration:.225s}.list-of-links-xlg li:nth-of-type(2){-webkit-animation-duration:.45s;-moz-animation-duration:.45s;-o-animation-duration:.45s;animation-duration:.45s}.list-of-links-xlg li:nth-of-type(3){-webkit-animation-duration:.675s;-moz-animation-duration:.675s;-o-animation-duration:.675s;animation-duration:.675s}.list-of-links-xlg li:nth-of-type(4){-webkit-animation-duration:.9s;-moz-animation-duration:.9s;-o-animation-duration:.9s;animation-duration:.9s}.list-of-links-xlg li:nth-of-type(5){-webkit-animation-duration:1.125s;-moz-animation-duration:1.125s;-o-animation-duration:1.125s;animation-duration:1.125s}.list-of-links-xlg li:nth-of-type(6){-webkit-animation-duration:1.35s;-moz-animation-duration:1.35s;-o-animation-duration:1.35s;animation-duration:1.35s}.list-of-links-xlg li:nth-of-type(7){-webkit-animation-duration:1.575s;-moz-animation-duration:1.575s;-o-animation-duration:1.575s;animation-duration:1.575s}.list-of-links-xlg li:nth-of-type(8){-webkit-animation-duration:1.8s;-moz-animation-duration:1.8s;-o-animation-duration:1.8s;animation-duration:1.8s}.list-of-links-xlg li:nth-of-type(9){-webkit-animation-duration:2.025s;-moz-animation-duration:2.025s;-o-animation-duration:2.025s;animation-duration:2.025s}.list-of-links-xlg li:nth-of-type(10){-webkit-animation-duration:2.25s;-moz-animation-duration:2.25s;-o-animation-duration:2.25s;animation-duration:2.25s}.discover-list a{display:block;position:relative;padding-top:52px;text-align:center;margin-top:.7em;margin-bottom:.7em}.discover-list img{position:absolute;top:0;left:0;padding-left:50%;margin-left:-26px}@media screen and (max-width:539px){.discover-list{margin-top:.7em;margin-bottom:.7em}}.lt-ie9 .features img{width:100%;margin:0 0 .25em;float:none;padding-top:0}.lt-ie9 .list-of-links{margin-top:0}.lt-ie9 .list-of-links ul{padding:.25em 0 .5em}.lt-ie9 .list-of-links li{display:block;margin:0 0 .7em}.lt-ie9 .list-of-links-med .heading{font-size:1.625em;margin-bottom:.55em}.lt-ie9 .list-of-links-lg .heading{font-size:2.375em}.lt-ie9 .list-of-links-xlg li{font-size:1.25em;font-weight:300}.lt-ie9 .list-of-links-xlg .heading{margin-bottom:.5em;font-size:2.375em}.CSPvNext .row-fluid .span .col-flow-opposite{float:right}.CSPvNext .row-fluid .span .col-flow-opposite+.span{margin-left:0}.CSPvNext .mscom-remove-margin-left{margin-left:0% !important;width:100% !important}@media screen and (max-width:539px){.grid-container{width:100%}}.CMSvNextComp .title,.CMSvNextComp .title h3,.CMSvNextComp .title a,.CMSvNextComp .title a:hover,.CMSvNextComp .title a:active,.CMSvNextComp .title a:focus{color:#fff;text-decoration:none}.slideshow-news .slides a:hover,.slideshow-news .slides a:active{text-decoration:none}p{margin:0 0 1.5em}strong{font-weight:bold}em{font-style:italic}.legal{font-size:.833em}.screen-reader-text{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.mac h1,.mac h2,.mac h3,.mac h4{-webkit-font-smoothing:subpixel-antialiased}

.icon-globe::after {
    content: "";
    background: url(../images/icon/img_globys.jpg) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    margin-top: 5px;
}